{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
    <section>
        <h2>Featured Games</h2>
        <div class="row">
            <!-- Game 1 -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <a href="/game1" class="game-item">
                    <img src="../static/img/sharedisc-800x760.jpg" alt="Game 1" class="img-fluid">
                    <div class="game-info">
                        <p class="game-title">Game 1 Title</p>
                        <p class="game-price">$19.99</p>
                    </div>
                </a>
            </div>
            <!-- Repeat for Game 2 to Game 8 -->
            <!-- Game 2 -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <a href="/game2" class="game-item">
                    <img src="../static/img/sharedisc-800x760.jpg" alt="Game 2" class="img-fluid">
                    <div class="game-info">
                        <p class="game-title">Game 2 Title</p>
                        <p class="game-price">$24.99</p>
                    </div>
                </a>
            </div>
            <!-- Game 3 -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <a href="/game3" class="game-item">
                    <img src="../static/img/sharedisc-800x760.jpg" alt="Game 3" class="img-fluid">
                    <div class="game-info">
                        <p class="game-title">Game 3 Title</p>
                        <p class="game-price">$29.99</p>
                    </div>
                </a>
            </div>
            <!-- Game 4 -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <a href="/game4" class="game-item">
                    <img src="../static/img/sharedisc-800x760.jpg" alt="Game 4" class="img-fluid">
                    <div class="game-info">
                        <p class="game-title">Game 4 Title</p>
                        <p class="game-price">$34.99</p>
                    </div>
                </a>
            </div>
            <!-- Game 5 -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <a href="/game5" class="game-item">
                    <img src="../static/img/sharedisc-800x760.jpg" alt="Game 5" class="img-fluid">
                    <div class="game-info">
                        <p class="game-title">Game 5 Title</p>
                        <p class="game-price">$39.99</p>
                    </div>
                </a>
            </div>
            <!-- Game 6 -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <a href="/game6" class="game-item">
                    <img src="../static/img/sharedisc-800x760.jpg" alt="Game 6" class="img-fluid">
                    <div class="game-info">
                        <p class="game-title">Game 6 Title</p>
                        <p class="game-price">$44.99</p>
                    </div>
                </a>
            </div>
            <!-- Game 7 -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <a href="/game7" class="game-item">
                    <img src="../static/img/sharedisc-800x760.jpg" alt="Game 7" class="img-fluid">
                    <div class="game-info">
                        <p class="game-title">Game 7 Title</p>
                        <p class="game-price">$49.99</p>
                    </div>
                </a>
            </div>
            <!-- Game 8 -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <a href="/game8" class="game-item">
                    <img src="../static/img/sharedisc-800x760.jpg" alt="Game 8" class="img-fluid">
                    <div class="game-info">
                        <p class="game-title">Game 8 Title</p>
                        <p class="game-price">$54.99</p>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <!-- Repeat for Best Selling Games -->
</div>
{% endblock %}
